@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply bg-gray-50;
  @apply text-gray-900;
  @apply text-sm;
}

@media print {
  @page {
    margin: 0 !important;
    size: auto;
  }

  body {
    margin: 0 !important;
    padding: 0 !important;
  }

  body * {
    visibility: hidden;
  }

  #invoice,
  #invoice * {
    visibility: visible;
  }

  #invoice {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }
}