# Domain: 
DOMAIN = backend

# API:
API_STR=/api

# Project Name:
PROJECT_NAME=VietLedgr Backend API

# Backend Settings:
BACKEND_CORS_ORIGINS="localhost:8000,localhost:3000,localhost:5173"
SECRET_KEY=<YourSecretKeyHere>

# PostgresSQL:
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=VietLedgr
POSTGRES_USER=<Username>
POSTGRES_PASSWORD=<Password>

SMTP_HOST=smtp-relay.brevo.com
SMTP_HOST=587
SMTP_USERNAME=
SMTP_PASSWORD=
MAIL_FROM_EMAIL=
MAIL_FROM_NAME=VietLedgr
FRONTEND_URL=http://localhost:3000
